@{
    ViewBag.Title = "TaoDonDatHang";
    Layout = "~/Views/Shared/LayoutKhachHang.cshtml";
}

<h2 style="margin-left:120px; margin-top:20px;">Chúc mừng bạn @ViewBag.name đã đặt hàng thành công</h2>