@{
    ViewBag.Title = "DanhSachLienHe";
    Layout = "~/Views/Shared/LayoutQuanLy.cshtml";
}

<div class="container">
    <h1 class="mt-2">DANH SÁCH KHÁCH HÀNG LIÊN HỆ TỚI SHOP</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Mã liên hệ</th>
                <th class="text-center">Tên người liên hệ</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Email</th>
                <th class="text-center">Tiêu đề</th>
                <th class="text-center">Nội dung</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap/js/LienHe.js"></script>
